In [3]:
from pymort import MortXML
# Table 3265 is 2015 VBT Smoker Distinct Male Non-Smoker ANB, see https://mort.soa.org/ 
xml = MortXML(3265)
# This is the select table as a MultiIndex (age/duration) DataFrame.
xml.Tables[0].Values

                 vals
Age Duration
18  1         0.00069
    2         0.00072
    3         0.00074
    4         0.00077
    5         0.00075
...               ...
95  21        0.50000
    22        0.50000
    23        0.50000
    24        0.50000
    25        0.50000

[1950 rows x 1 columns]