In [5]:
from pymort import MortXML
# Table 3265 is 2015 VBT Smoker Distinct Male Non-Smoker ANB, see https://mort.soa.org/ 
xml = MortXML(3265)

Some tables have two axes and we need to make them look like this:

In [6]:
# This is the select table as a MultiIndex (age/duration) DataFrame.
xml.Tables[0].Values

                 vals
Age Duration
18  1         0.00069
    2         0.00072
    3         0.00074
    4         0.00077
    5         0.00075
...               ...
95  21        0.50000
    22        0.50000
    23        0.50000
    24        0.50000
    25        0.50000

[1950 rows x 1 columns]

Some tables have 1 axis and they need to look like this:

In [7]:
xml.Tables[1].Values

        vals
Age
18   0.00069
19   0.00072
20   0.00074
21   0.00077
22   0.00075
..       ...
116  0.50000
117  0.50000
118  0.50000
119  0.50000
120  0.50000

[103 rows x 1 columns]